<!DOCTYPE html>
<html ng-app="cameraApp">
  <head>
    <meta charset="utf-8">
    <title>Camera View</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body ng-controller='CameraControl as camCtrl'>
    <div class="container">
      <header>
        <h1>Camera Shop</h1>
      </header>
      <main>
        <div class="row">
          <div class="col s12 m8">
            <div class="row">
              <div class="col s8 input-field">
                <input type="text" ng-model="search" placeholder="Search here">
              </div>
              <div class="col s4 input-field">
                <select ng-model="selected">
                  <option value="name">Name</option>
                  <option value="rating">Rating</option>
                </select>

              </div>
            </div>
          </div>
          <div ng-controller="CartControl as cart" class="col s12 m4">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <span class="card-title">Your Cart</span>

                <div ng-repeat="item in shoppingCart track by $index">
                  <div class="row">
                    <button class="btn waves-effect waves-light col m6" name="action">{{item.name}}
                      <i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
                <div>
                  <table>
                  <tr>
                    <td>Subtotal</td>
                    <td>{{shoppingCartSubTotal || 0 | currency}}</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td>{{shoppingCartTax || 0 | currency}}</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <th>{{shoppingCartTotal || 0 | currency}}</th>

                  </table>
                </div>
              </div>

              <div class="card-action">
                <a href="#">Checkout</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col m8">
          <section ng-repeat="camera in camCtrl.cameras | filter: search | orderBy: selected">
            <div class="row">
              <h4 class="col m4">{{camera.name}}</h4>
              <div ng-show="{{camera.onSale}} === true" class="col s1 m1 card #f50057 pink accent-3 white-text center">
              On Sale!
              </div>
            </div>
            <img ng-src="{{ camera.image }}">
            <div class="row">
              <h4 class="col m4">Price: {{camera.price | currency}}</h4>
            </div>
            <div class="row">
            <a class="waves-effect waves-light btn" ng-click="camCtrl.addToCart(camera)">Add to Cart</a>
            </div>
          </section>
        </div>

      </main>
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
